{% extends 'base.html' %}
{% block titulo %}Editoras{% endblock %}
{% block conteudo %}
<main class="container">
    <h1>Editoras</h1>
    <a class="btn" href="{{ url_for('editora.adicionar_editora') }}">Adicionar Editora</a>
    
    {% include 'mensagens.html' %}
    
    <div class="box-container">
        {% for editora in editoras %}
        <div class="box">
            <h2>{{ editora.nome }}</h2>
            <p>{{ editora.endereco }}</p>
            <a class="btn-small" href="{{ url_for('editora.editar_editora', id=editora.id) }}">Editar</a>
            <form action="{{ url_for('editora.remover_editora', id=editora.id) }}" method="POST" style="display:inline;">
                <button class="btn-small">Remover</button>
            </form>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}