{% extends 'base.html' %}
{% block titulo %}Livros{% endblock %}
{% block conteudo %}
<main class="container">
    <h1>Livros</h1>
    <a class="botao" href="{{ url_for('livro.adicionar_livro') }}">Adicionar Livro</a>
    
    <a href="{{ url_for('livro.logs_livros') }}" class="botao"> Logs</a>

    {% include 'mensagens.html' %}


    <div class="box-container">
        {% for livro in livros %}
        <div class="box">
            <h2>{{ livro.titulo }}</h2>
            <p><strong>Autor:</strong> {{ Autor.get(livro.autor_id).nome }}</p>
            <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
            <p><strong>Ano:</strong> {{ livro.ano_publicacao }}</p>
            <p><strong>Quantidade:</strong> {{ livro.quantidade }}</p>
            <p><strong> Editora:</strong> {{ Editora.get(livro.editora_id).nome }} </p>
            <p> <strong> Resumo: </strong> {{livro.resumo}} </p>
            <a class="botao-pequeno" href="{{ url_for('livro.editar_livro', id=livro.id) }}">Editar</a>
            <form action="{{ url_for('livro.remover_livro', id=livro.id) }}" method="POST" style="display:inline;">
                <button class="botao-pequeno">Remover</button>
            </form>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
