* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'; font-size: 16px;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

main {
    padding-top: 10vh
}
