{% extends 'base.html' %}
{% block titulo %}Editar Usuário{% endblock %}
{% block conteudo %}
<main class="container">
    <h1>Editar Usuário</h1>
    <form class="form-box" method="POST" action="{{ url_for('usuario.editar_usuario', id=usuario.id) }}">
        <label>Nome:</label>
        <input type="text" name="nome" value="{{ usuario.nome }}" required>

        <label>Email:</label>
        <input type="email" name="email" value="{{ usuario.email }}">

        <label>Telefone:</label>
        <input type="text" name="numero" value="{{ usuario.numero }}">


        <label>Multa Atual (R$):</label>
        <input type="number" name="multa_atual" step="0.01" value="{{ usuario.multa }}">

        <button class="botao" type="submit">Salvar Alterações</button>
    </form>
</main>
{% endblock %}