{% extends 'base.html' %}
{% block titulo %}Sistema Biblioteca - Autores{% endblock %}
{% block conteudo %}
<main>
    <div class="container">
        <h1>Autores Cadastrados</h1>
        <a href="{{ url_for('autor.adicionar_autor') }}" class="botao">Adicionar Autor</a>
        
        {% include 'mensagens.html' %}
        
        <div class="box">
            {% for autor in autores %}
            <div class="item">
                <h2>{{ autor.nome }}</h2>
                <p><strong>Nacionalidade:</strong> {{ autor.nacionalidade or 'Não informada' }}</p>
                <p><strong>Data de nascimento:</strong> {{ autor.data_nascimento or 'Desconhecida' }}</p>
                <p><strong> Biografia: </strong> {{ autor.biografia or "Sem dados"}} </p>
                <div class="acoes">
                    <a href="{{ url_for('autor.editar_autor', id=autor.id) }}" class="botao-pequeno">Editar</a>
                    <form action="{{ url_for('autor.remover_autor', id=autor.id) }}" method="POST">
                        <button type="submit" class="botao-pequeno">Remover</button>
                    </form>
                </div>
            </div>
            {% else %}
            <p>Nenhum autor cadastrado.</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}